
body {
    background: url(../img/banner.jpg) no-repeat;
    background-size: auto;
    font-family: 'Nunito Sans', sans-serif;
}

.d-title {
    margin-top: 170px;
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    text-shadow: 2px 2px 5px #333;
}

.d-color {
    color: #333;
}

.d-select {
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.51);
    padding: 30px 30px;
    border-radius: 0px;
}

.d-login {
    width: 20%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.51);
    padding: 30px 30px;
    border-radius: 0px;
}

.d-content {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.51);
    padding: 30px 30px;
    border-radius: 0px;
    margin: auto;
}

.d-bg-hover:hover {
    background-color: white;
}

a.d-link {
    text-decoration: none;
    color: white !important;
}

a.d-link:hover {
    color: #333 !important;
}

.d-form {
    background-color: transparent;
    color: #444 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.d-form::-webkit-input-placeholder {
    color: white;
}

.d-text-header {
    margin-top: 40px;
}

a.d-nav:hover a {
    color: red;
}

.table th, .table td {
    padding: 10px;
}

a.d-pagi {
    color: white;
    background: transparent;
}

a.d-pagi:hover {
    background-color: white;
    color: #555;
}


